---
import Icon from '@ui/Icon/Icon'
import type { HTMLTag, Polymorphic } from 'astro/types'

type Props<Tag extends HTMLTag> = Polymorphic<
  { as: Tag } & {
    text?: string
    className?: string
    mods?: string[]
    size?: 'xl' | 'lg' | 'md' | 'sm' | 'xs'
    icon?: string
    iconPosBefore?: boolean
    modal?: string
    'data-i18n'?: string
  }
>

const {
  as: Tag = 'button',
  className,
  text,
  mods,
  size,
  icon,
  iconPosBefore,
  modal,
  'data-i18n': i18nKey,
  ...props
} = Astro.props
---

<Tag
  class:list={[
    'button',
    size ? `_${size}` : '',
    mods?.map((el: string) => `_${el}`),
    className
  ]}
  data-open-modal={modal}
  {...props}
>
  {
    icon && iconPosBefore && (
      <span class="button__icon">
        <Icon name={icon} />
      </span>
    )
  }

  <span class="button__text" data-i18n={i18nKey} set:html={text} />

  {
    icon && !iconPosBefore && (
      <span class="button__icon">
        <Icon name={icon} />
      </span>
    )
  }
</Tag>
